  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  
  
</div>
  <div id="video_container"></div>


<table id="playground">
    <tr>
        <td class="speech_bubble">Row 1, cell 1</td>
        <td class="speech_bubble_flip">Row 1, cell 2</td>
    </tr>
    <tr>
        <td class="talking_head">
        	<img src="images/filler_girl.png"/>
    	</td>
        <td class="talking_head">
        	<div id="webcam_stream">
    	</td>
    </tr>
  
</table>


  


 
  <script> var username = "{{username}}"; </script>
  <script src='javascript/main.js'></script>