  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="share_url"/>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  
  
</div>
  <div id="video_container"/>


<table id="playground">
     <tr>
        <td class="name" id="partner">Waiting for conversation partner to join room...</td>
        <td class="name" id="username"/>
    </tr> 
    <tr>
        <td class="speech_bubble"><div id="msg_received"/></td>
        <td class="speech_bubble_flip"><div id="msg_sent"/>Your message will show up here. Go on and type something ... what are you waiting for!?</td>
    </tr>
    <tr id ="conversing_heads">
        <td class="talking_head" id="partner_head">
        	<img src="images/filler_girl.png"/>
    	</td>
        <td class="talking_head">
        	<div id="webcam_stream" class="webcam_mask">
    	</td>
    </tr>
</table>

 
  <script> var username = "{{username}}"; </script>
  <script src='javascript/main.js'></script>