  <div>Welcome to {{title}}! Please log in here.</div>
  <form id="user-data" action="/chat" method="get">
  <label for="username"> Username: </label>
  <input type="text" name="username"></input>
  </form>