html {
  height: 100%;
}
body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
a {
  color: #00B7FF;
}
#conversation {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  width: 60%;
  float: left;
}
#inbound_video_box {
  position: absolute;
  width: 240px;
  height: 180px;
  top: 5%;
  right: 5%;
  background-color: black;
}
#submission {
  position: fixed;
  bottom: 0;
  width: 59.8%;
  left: 0;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 60%;
}
#video_panel_header {
  text-align: center;
  color: white;
}
#outbound_video_panel {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  width: 40%;
  float: right;
  background-color: black;
}
#webcam_stream {
  position: relative;
  top: 3%;
  right: 12%;
  width: 360px;
  height: 270px;
  float: right;
  padding: 0;
  border: 2px solid #dcc;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#message_preview {
  position: absolute;
  top: 75%;
  right: 12%;
  height: 100px;
  width: 360px;
  text-align: center;
  color: white;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
